@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main{
    background-color: #4C5961;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.main div{
    padding: 10px 400px;
    display: flexbox;
    font-weight: 600;
}

.main h3{
    color: white;
    padding-bottom: 20px;
}

.main h1{
    padding-bottom: 20px;
    font-size: 60px;
    color: #D7E9F3;
}

.main h1 span{
    color: #6C8390;
    padding: 0 0;
}

.main p{
    color: #F9FCFF;
    padding-bottom:35px;
}

.main_button {
    padding: 10px 30px;
    background-color: #6C8390;
    text-decoration: none;
    color: white;
}

.main_button:hover{
    background-color: #617682;
}

footer{
    position: fixed;
    width: 100%; 
    color: #ffff;
    background-color: #333333;
    height: 100px;
    padding: 0 41%;
    display: flex;
    align-items: center ;
}

footer a{
    color: rgb(4, 0, 255);
    text-decoration: none;
}

footer a:hover{
    color: #585858;
}